<app-header></app-header>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav mi-sidebar" mode="side" opened>
    <mat-nav-list>
      <mat-list-item routerLink="">
        <mat-icon matListItemIcon>home</mat-icon> <span>Home</span> </mat-list-item
      >
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item routerLink="listar-productos">
        <mat-icon matListItemIcon>list</mat-icon> <span>Tareas</span> </mat-list-item
      >
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item routerLink="">
        <mat-icon matListItemIcon>newspaper</mat-icon> <span>Modulo 1</span> </mat-list-item
      >
    </mat-nav-list>    
    <mat-nav-list>
      <mat-list-item routerLink="">
        <mat-icon matListItemIcon>settings</mat-icon> <span>Ajustes</span> </mat-list-item
      >
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item routerLink="">
        <mat-icon matListItemIcon>person</mat-icon> <span>Profile</span> </mat-list-item
      >
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item routerLink="">
        <mat-icon matListItemIcon>info</mat-icon> <span>About</span> </mat-list-item
      >
    </mat-nav-list>

    <!-- <mat-nav-list>
      @for (link of list; track link) {
        <a mat-list-item href="..." [activated]="link.isActive">{{ link }}</a>
      }
    </mat-nav-list> -->
  </mat-sidenav>

  <mat-sidenav-content class="example-sidenav-content content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-footer></app-footer> -->

